BusinessLayer/Connected Services/ServiceReference/PuppyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Puppy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Breed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Puppy" nillable="true" type="tns:Puppy" />
  <xs:complexType name="ArrayOfPuppy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Puppy" nillable="true" type="tns:Puppy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuppy" nillable="true" type="tns:ArrayOfPuppy" />
</xs:schema>