BusinessLayer/Connected Services/ServiceReference/PuppyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56556/PuppyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.Model" />
  <xs:element name="addNewPuppy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="newPuppyInfo" nillable="true" type="q1:Puppy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewPuppyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPuppyByGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPuppyByGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="getPuppyByGenderResult" nillable="true" type="q2:ArrayOfPuppy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPuppies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPuppiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="getAllPuppiesResult" nillable="true" type="q3:ArrayOfPuppy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePuppy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL.Model" minOccurs="0" name="updatedPuppy" nillable="true" type="q4:Puppy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePuppyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePuppy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="puppyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePuppyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>