ISEM-551/Service References/ServiceReference/PuppyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PuppyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56556/PuppyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56556/PuppyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56556/PuppyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPuppyService_addNewPuppy_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewPuppy" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_addNewPuppy_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewPuppyResponse" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_getPuppyByGender_InputMessage">
    <wsdl:part name="parameters" element="tns:getPuppyByGender" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_getPuppyByGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPuppyByGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_getAllPuppies_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPuppies" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_getAllPuppies_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPuppiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_updatePuppy_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePuppy" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_updatePuppy_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePuppyResponse" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_deletePuppy_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePuppy" />
  </wsdl:message>
  <wsdl:message name="IPuppyService_deletePuppy_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePuppyResponse" />
  </wsdl:message>
  <wsdl:portType name="IPuppyService">
    <wsdl:operation name="addNewPuppy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPuppyService/addNewPuppy" message="tns:IPuppyService_addNewPuppy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPuppyService/addNewPuppyResponse" message="tns:IPuppyService_addNewPuppy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPuppyByGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IPuppyService/getPuppyByGender" message="tns:IPuppyService_getPuppyByGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPuppyService/getPuppyByGenderResponse" message="tns:IPuppyService_getPuppyByGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPuppies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPuppyService/getAllPuppies" message="tns:IPuppyService_getAllPuppies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPuppyService/getAllPuppiesResponse" message="tns:IPuppyService_getAllPuppies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePuppy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPuppyService/updatePuppy" message="tns:IPuppyService_updatePuppy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPuppyService/updatePuppyResponse" message="tns:IPuppyService_updatePuppy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePuppy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPuppyService/deletePuppy" message="tns:IPuppyService_deletePuppy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPuppyService/deletePuppyResponse" message="tns:IPuppyService_deletePuppy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPuppyService" type="tns:IPuppyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addNewPuppy">
      <soap:operation soapAction="http://tempuri.org/IPuppyService/addNewPuppy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPuppyByGender">
      <soap:operation soapAction="http://tempuri.org/IPuppyService/getPuppyByGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPuppies">
      <soap:operation soapAction="http://tempuri.org/IPuppyService/getAllPuppies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePuppy">
      <soap:operation soapAction="http://tempuri.org/IPuppyService/updatePuppy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePuppy">
      <soap:operation soapAction="http://tempuri.org/IPuppyService/deletePuppy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PuppyService">
    <wsdl:port name="BasicHttpBinding_IPuppyService" binding="tns:BasicHttpBinding_IPuppyService">
      <soap:address location="http://localhost:56556/PuppyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>